<!DOCTYPE html>
<html>
  <head>
    <title>Snippy</title>
  </head>
  <body>
    <div>
      Your snippet:
      <br>
      <%= snippet.text %>
      <br>
      <br>
      This snippet can be accessed at:
      <br>
      <%= "#{Snippy.host()}/snippets/#{snippet.id}" %>
    </div>
  </body>
</html>
